:host zxing-scanner::ng-deep video {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

input {
    border: 0px !important;
    box-shadow: none !important;
}

input:checked {
    background-color: #bbbbbb ;
}