<div class="d-flex flex-column p-5 h-100 text-center">
    <label class="display-4 mb-2">Scan</label>
        <label class="fs-2">{{eventData.club_name}}</label>
        <label class="my-1">presents</label>
        <label class="fs-2 mb-4">{{eventData.name}}</label>
    <div class="d-flex mx-auto" style="height: 250px; width: 250px;">
        <zxing-scanner class="mx-auto" [formats]="allowedFormats"
            (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
    </div>
    <label class="mt-auto">App brought to you by</label>
    <a class="fw-bold" href="https://supersu-man.github.io/">Sumanth Perambuduri</a>
</div>