:host zxing-scanner::ng-deep video {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

input {
    border: 0px !important;
    box-shadow: none !important;
    background-color: #e6c6ff;
}

input:checked {
    background-color: #9d5ece ;
}