<div class="container h-100">
    <div class="d-flex flex-column h-100 py-5">

        <div class="d-flex">
            <label class="fs-3">Welcome</label>
            <img class="ms-auto my-auto" src="assets/imgs/logout1.png" height="30" width="30" (click)="logout()"
                style="cursor: pointer;">
        </div>
        <div class="d-flex">
            <label class="fs-3">{{userdata.fullname}}</label>
        </div>
        <label *ngIf="userdata.dev">Dev Account</label>
        <label>{{time}}</label>

        <div class="card d-flex flex-column mt-3 p-3 mx-auto">
            <label class="me-auto mb-0 fs-3 text-black">Event Pass</label>
            <qr-code class="m-auto" [value]="userdata.username" size="220" errorCorrectionLevel="M"></qr-code>
        </div>

        <div class="d-flex" *ngIf="userdata.dev">
            <div class="rounded-circle d-flex mx-auto bg-secondary cp p-2 mt-3" routerLink="/scan">
                <img class="m-auto pt-1" src="assets/imgs/scan.png" height="50" width="50">
            </div>
            <div class="rounded-circle d-flex mx-auto bg-secondary p-2 mt-3" routerLink="/register">
                <img class="m-auto pt-1" src="assets/imgs/tickets.png" height="50" width="50">
            </div>
        </div>

        <label class="mt-auto text-center">App brought to you by</label>
        <a class="fw-bold text-center cp" href="https://supersu-man.github.io/">Sumanth Perambuduri</a>
    </div>
</div>