@font-face {
    font-family: Rubik;
    src: url(assets/Rubik.ttf);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik';
    background: rgb(32, 32, 32);
    color: white;
}

input {
    max-width: 300px;
    box-shadow: none !important;
    border: none !important;
}

.cp {
    cursor: pointer;
}