<div class="container h-100">
    <div class="d-flex flex-column text-center h-100 py-5">
        <label class="fs-2">{{config.clubName}}</label>
        <label>presents</label>
        <label class="display-3 mt-2">{{config.eventTitle1}}</label>
        <label class="display-3">{{config.eventTitle2}}</label>
        <label class="fs-4 my-auto px-5">{{config.eventDescription}}</label>
        <button class="btn btn-light fw-bold border-0 m-auto px-4" routerLink="/login">Login</button>
        <label>App brought to you by</label>
        <a class="fw-bold cp" href="https://supersu-man.github.io/">Sumanth Perambuduri</a>
    </div>
</div>